<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('DEVICE_ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoTuya.DEVICE_ID">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('IP') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoTuya.IP">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('LOCAL KEY') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoTuya.LOCAL_KEY">
        </div>
    </div>
</form>
